@import "https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,600,700";

body {
  font-family: 'Google Sans';
}

.mdc-top-app-bar {
  top:0px;
  left:0px;
  background-color: #3f51b5;
}

main {
  position:relative;
  top:64px;
}

.mdc-table {
}
