body {
  margin: 0 !important;
  width: 100vw;
}

.mdc-top-app-bar {
  background-color: #3f51b5;
}

main{
  padding: 0 8px;
}

.mdc-linear-progress{
  position: relative;
  height: 4px;
}

.mdc-linear-progress__bar, .mdc-linear-progress__primary-bar,
.mdc-linear-progress__secondary-bar{
  background-color: #ff9100 !important;
}
